= form_for(@job, html: {class: 'form'}) do |f|
  - if @job.errors.any?
    #error_explanation
      %h2
        = pluralize(@job.errors.count, "error")
        prohibited this job from being saved:
      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title, for: 'title'
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :category, for: 'category'
    -#= f.select :category, Job::categories, class: 'form-control'
    = f.select :category, [:in_house, :entrusted], class: 'form-control'
  .form-group
    = f.label :headquarters, for: 'headquarters'
    = f.text_field :headquarters, class: 'form-control'
  .form-group
    = f.label :workplace, for: 'workplace'
    = f.text_field :workplace, class: 'form-control'
  .form-group
    = f.label :description, for: 'description'
    = f.text_area :description, class: 'form-control'
  .form-group
    = f.label :how_to_apply, for: 'how_to_apply'
    = f.text_area :how_to_apply, class: 'form-control'
  .form-group
    = f.label :company_name, for: 'company_name'
    = f.text_field :company_name, class: 'form-control'
  .form-group
    = f.label :company_email, for: 'company_email'
    = f.text_field :company_email, class: 'form-control'
  .form-group
    = f.label :company_url, for: 'company_url'
    = f.text_field :company_url, class: 'form-control'
  .form-group
    = f.label :company_logo_url, for: 'company_logo_url'
    = f.text_field :company_logo_url, class: 'form-control'
  .actions.pull-right
    = f.submit :submit, class: 'btn btn-default'
