<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.number_field :category %>
  </div>
  <div class="field">
    <%= f.label :headquarters %><br>
    <%= f.text_field :headquarters %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :how_to_apply %><br>
    <%= f.text_area :how_to_apply %>
  </div>
  <div class="field">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :company_email %><br>
    <%= f.text_field :company_email %>
  </div>
  <div class="field">
    <%= f.label :company_url %><br>
    <%= f.text_field :company_url %>
  </div>
  <div class="field">
    <%= f.label :company_logo_url %><br>
    <%= f.text_field :company_logo_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
