%br
%br
.row
  .col-md-12
    %a.btn.btn-sm.btn-primary.pull-right(href= new_job_path style='color: white;')
      Post a job: $200 for 30 days
.row
  .col-md-6
    %h2
      in-house development
    %table.table.table-hover
      %thead
        %tr
          %th Job title
          %th Company
          %th Posted
      %tbody(id='job_table_1')
        - @jobs.each do |job|
          - if job.in_house?
            %tr(job_id='#{job.id}')
              %td= job.title
              %td= job.company_name
              %td= job.created_at.strftime('%b-%d, %Y')
  .col-md-6
    %h2
      entrusted development
    %table.table.table-hover
      %thead
        %tr
          %th Job title
          %th Company
          %th Posted
      %tbody(id='job_table_2')
        - @jobs.each do |job|
          - if job.entrusted?
            %tr(job_id='#{job.id}')
              %td= job.title
              %td= job.company_name
              %td= job.created_at.strftime('%b-%d, %Y')
